* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  background-color: #f2f2f2;
  font-size: 3vw;
}
.card-container {
  width: 65vw;
  height: 42vh;
  margin: 2vh;
  padding: 1vh;
  perspective: 600px;
}
.card-container .card {
  width: 100%;
  height: 100%;
  transition: transform 1s; 
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.is-flipped {
   transform: rotateY(180deg);
}
.card-container .card div:nth-child(1), section .card div:nth-child(2) {
  background-color: white;
  height: 40vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3vh;
  border-radius: 3vw;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 
}
.card-container .card div:nth-child(2) {
  transform: rotateY(180deg);
  background-color: rgba(255, 215, 98, 0.35);
}
.card-container hr {
  position: relative;
   top: -5%;
   height: 0.2vh;
  width: 10vw;
  background-color: #f2f2f2;
  border: 1px solid black;
  border-radius: 25%;
}
button {
  border:none ;
  border-radius: 3vw;
  padding: 2vw 4vw;
  font-size: 4vw;
}
p {
  max-width:35vw;
}
.card-container .card div:nth-child(2) {
 position: relative;
} 

